.select-file {
    border: 0px;
    background-color: white;
}

.profile {
    margin-top: 94px;
}

.profile {
    display: block;
    width: 100%;
    justify-content: center;
}

.profile-container {
    display: flex;
    width: 100%;
}

.name-profile {
    color: black;
    margin-left: 50px;
}

.email-profile {
    color: black;
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: white;
    width: 20%;
    border-right: 1px solid black;
    height: 70vh;
}

.box-left ul {
    text-align: left;
}

.box-left ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 0.5px solid rgb(94, 94, 94);
}


.box-right {
    width: 80%;
    height: 70vh;
}

.img-profile {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0px 1px 3px 2px grey;
}

.modal-open {
    margin-top: -70px;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    background-color: rgba(58, 58, 58, 0.797);
    z-index: 99;
}

.modal-header {
    display: flex;
    justify-content: end;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.modal-close {
    display: none;
}

.form-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upload {
    display: none;
}

.label-upload {
    position: absolute;
    top: 140px;
    left: 130px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    background-color: white;
}

.label-upload2 {
    position: absolute;
    top: 140px;
    left: 130px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    background-color: grey;
}

.title-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid rgb(94, 94, 94);
    font-family: 'Inter', sans-serif;
}
.img-upload{
    width: 20px;
    position: absolute;
    top: 165px;
    left: 130px;
    background-color: grey;
}
.item-menu-profile{
    cursor: pointer;
}

@media (max-width: 600px) {
    .img-profile {
        width: 100px;
        height: 100px;
    }

    .box-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .box-right,
    .box-left {
        padding: 18px;
    }

    .name-profile {
        font-size: 20px;
        color: black;
    }

    .email-profile {
        font-size: 18px;
    }

    .label-upload,
    .label-upload2 {
        font-size: 10px;
        padding: 3px;
    }

    .update-btn {
        border: 1px solid grey;
        background-color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 10px;
        box-shadow: none;
    }
}